################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/out/build
/include/libnghttp2/nghttp2ver.h
